<section>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Cédula"
      aria-label="cedula"
      aria-describedby="basic-addon1"
    />
  </div>
  
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nombres"
      aria-label="Name"
      aria-describedby="basic-addon2"
    />
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Correo Electrónico" aria-label="correoElectronico" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">mail.com</span>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Apellidos"
      aria-label="apellido"
      aria-describedby="basic-addon2"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Teléfono"
      aria-label="phoneNumber"
      aria-describedby="basic-addon2"
    />
  </div>

  <div class="input-group">
    <span class="input-group-text">Comentario</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
  
</section>