<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
<ul class="nav flex-column">
    <li class="nav-item" routerLink="inicio">
        <a class="nav-link" routerLink="inicio" aria-current="page">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/nosotros" aria-current="page">Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/servicios" aria-current="page">Servicios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contactos" aria-current="page">Contactos</a>
    </li>
  </ul>
  </nav>